* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(146, 145, 145);
    padding: 40px;
    border-radius: 5px;
    width: 500px;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(155, 13, 243);
}

.input-text {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(206, 205, 205);
    outline: none;
    font-size: 16px;
    background-color: white;
    height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.input-text:focus {
    border: 1px solid rgb(155, 13, 243);
}

.form-errors {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-left: 5px;
    letter-spacing: 0.5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(155, 13, 243);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
}
